<div class="aboutme">
	<h1>Dave Wu</h1>
</div>

<div id="overview" class="aboutme">
	<%= image_tag "mypic.jpg", alt: "my face" %>
	<div id="overview-right">
		<p>Living in <strong>Beijing</strong>, I make tools testing tools they use to test tools. Obviously there's a long way ahead for me to go.</p>
		<p>I'm multi-lingual: Mandarin, English, Nihongo, Italiano, C# and Ruby.</p>
		<p>I have nothing to follow but if you insist...</p>
		<div class="buttons">
			<div class="button"><wb:follow-button uid="1822560114" type="gray_1" width="100" height="24"></wb:follow-button></div>
		  <div class="button"><iframe src="http://ghbtns.com/github-btn.html?user=eyaswoo&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150px" height="30px"></iframe></div>
		</div>
	</div>
	<div class="clean"></div>
</div>

<div class="content">
	<h2>articles</h2>
	
	<ul>
		<% @my_articles.reverse.each do |arti| %>
		  <li><span><%= arti.created_at.strftime "%b %d, %Y" %></span> <%= link_to arti.title, arti %></li>
		<% end %>
	</ul>
	
</div>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
