<!DOCTYPE html>
<html>
<head>
  <title><%= @pagetitle %></title>
	<%= stylesheet_link_tag "davewu" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>

		<div id="footer">
			<p class="rights">
				Copyright &copy; 2013 - 2014 by <a href="mailto:eyaswoo@163.com">Dave Wu</a>
			  <br/>苏ICP备11046979号-3</p>
		</div>			
  </div>
</body>
</html>
